{% extends "base.html" %}
{% load static i18n %}
{% block title %}
  {% trans "chatrooms" %}
{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-sm-12">
      {% if object.name %}
      <h2>{{ object.name }}</h2>
      {% endif %}
    </div>
  </div>

  {% if request.user %}
  <!-- Action buttons -->
  <script type="text/javascript">
    $(document).ready((event) => {
      chattenge.chatrooms.joinChatroom("{% url 'chatrooms:join' object.id %}");
      let ws = null;
      try {
        ws = new WebSocket("{{ request.stomp_url }}");
        const client = Stomp.over(ws);
        const onSuccess = (success) => {
          const read = (data) => {
            const payload = JSON.parse(data.body);
            chattenge.chatrooms.addMessage(payload.data.matches);
            console.log("read: ", payload);
          }
          const subscription1 = client.subscribe("/exchange/messages/messages", read);
          console.log("success: ", success);
        };
        const onError = (error) => {
          console.log(error);
        };
        client.connect('{{ request.stomp_username }}', '{{ request.stomp_password }}', onSuccess, onError, 'chattenge');
        const dumb = (data) => {
          console.log("dumb: ", data);
        }
      } catch(err) {
        console.error(err);
      }
      $('#send-message').submit((event) => {
        event.preventDefault();
        event.stopPropagation();
        const message = $('#my-message').val();
        chattenge.chatrooms.postMessageToChatroom("{% url 'chatrooms:message' object.id %}", message);
      });
    });
  </script>
  <div class="row">
    <div class="col-sm-12">
      <div class="message-list" id="message-list">
        <div class="message">
          <div class="info">
            <div class="username">
              Frank Sinatra
            </div>
            <div class="time">
              12:00 pm
            </div>
          </div>
          <div class="meta">
            message content
          </div>
        </div>
      </div>
      <div class="message-input">
        <form id="send-message" action="{% url 'chatrooms:message' object.id %}" method="post">
          {% csrf_token %}
          <label for="my-message">{% trans "Type something to share" %}</label>
          <input id="my-message" type="text" name="message"/>
          <input id="submit" type="submit" value="Send" />
        </form>
      </div>
    </div>
  </div>
  <!-- End Action buttons -->
  {% endif %}
</div>
{% endblock content %}
